.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}

nav {
    background-color: white;
}

